@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 150px) / repeat(4, 1fr);
    gap: 5px;
    text-align: center;
    color: black;
}

.caixa1 {
    background-color: yellowgreen;
    grid-row-start: 1;
    grid-row-end: 2; /*Shorthand: grid-row: 1 / 2*/
    grid-column-start: 1;
    grid-column-end: 5; /*Shorthand: grid-column: 1 / 5*/
}

.caixa2 {
    background-color: darkcyan;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: aquamarine;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}